@import "../utils";
.focusProjItem{
  overflow: hidden;
  transition: all ease-out .2s;
  cursor: pointer;
  height: 300px;
  margin-bottom: 20px;
  background: #ffffff;
  border: 1px solid lighten($border,6%);
  border-radius: 6px ;
  &-pic{
    height: 150px;
  }
  &-main{
    padding: 10px;
    &-title{
      @include fontSizeColor($font-2nd,lighten($fontClr_1st,10%))
    }
    &-intro{

      @include fontSizeColor($font-3rd,lighten($fontClr_1st,28%))
    }
  }
  &-author{
    @include fontSizeColor($font-3rd,lighten($fontClr_1st,12%));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 10px;
    border: solid $border;
    border-width: 1px 0 0 0;
    height: 40px;
  }
}

.focusProjItem:hover{
  transform: translate(0,-4px);
  box-shadow: 4px 4px 6px darken($border,10%);

}

/*below pad width*/
@media screen and (max-width: 694px ){
}