.navbar.navbar-inverse.navbar-fixed-bottom
   .container
      h6.navbar-text.navbar-left Tinny Project Makes Better Talent.
      h6.navbar-text.navbar-right Copyright©2017
            a.navbar-link(href="/") TG.CLUB
