style.
   .active{
      color:#fff!important;
   }
   .header-main{
      background: rgba(0,0,0,.5);
      border-color: transparent;
   }

.navbar.navbar-inverse.navbar-fixed-top.header-main
   .container
      .navbar-header
         button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            //i.fa.fa-sort-amount-desc(style="color:#b3b3b3;")
            span.icon-bar
            span.icon-bar
            span.icon-bar
         a.navbar-brand(href='/home')
            i.fa.fa-terminal
            | TG.CLUB
      .collapse.navbar-collapse.navbar-right
         ul.nav.navbar-nav
            li
               //a(href="/broadcast", class=(active=="broadcast" ?'active':undefined)) 迅速了解我们
               a(href="http://club.helloyzy.cn", class=(active=="broadcast" ?'active':undefined)) 迅速了解我们
            li
               a(href="/home", class=(active=="home" ?'active':undefined)) 首页
            li
               a(href="/categories", class=(active=="categories" ?'active':undefined)) 项目展览
            li
               a(href="/department", class=(active=="department" ?'active':undefined)) 部门展示
            li
               a(href="/contact", class=(active=="contact" ?'active':undefined)) 联系我们

