extends layout

//- 联系我们页面模板
block content
	.contact-banner
		.contact-banner-text
			.musk
				.contactTitle.text-center 联 系 我 们
				.contactSubTitle.text-center CONTACT US
	.container
		.jumbotron
			h1 TG工作室
			h2 Tinny Project Makes Better Talent.
			.row
				.col-lg-6.col-sm-12
					img.img-responsive(src="images/newcode.JPG")
				.col-lg-6.col-sm-12
					img.img-responsive(src="images/techcode.jpeg")
	br
	br
	br
	br
	br