extends layout

//- 部门页面模板
block content
	.department-banner
		.department-banner-text
			.musk
				p.departTitle.text-center 我们的团队
				p.departSubTitle.text-center Team Work

	.department-section.container
		.page-header.department-section-header
			h1 改变，从现在开始
			small TG工作室是以项目作为学习推动力的组织，同时运营着微信公众号和网站，为同学提供西电竞赛信息，学习干货，互联网知识以及正在建立的项目发布组队平台。
		.row
			.col-lg-4.col-md-4.col-sm-6.col-xs-12
				.department-section-header-icon
					i.fa.fa-sitemap
					p.intro 划分部门管理
			.col-lg-4.col-md-4.col-sm-6.col-xs-12
				.department-section-header-icon
					i.fa.fa-group
					p.intro 项目组队开发
			.col-lg-4.col-md-4.col-sm-6.col-xs-12
				.department-section-header-icon
					i.fa.fa-github
					p.intro 代码仓库存储

	.department-section.container


