doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title TG.CLUB
		link(rel='stylesheet', href="/css/main.css")
		block head
	body
		p hello world
		i.fa.fa-battery-1