extends home



block content
	- var props=projInfo
	- var picURL = "background:url('"+props.pic+"');"
	.projectInfo-banner
	.projectInfo-timeBar
	.projectInfo-Info
	.projectInfo-member
	.projectInfo-progress