extends layout

block content
	.projects-banner(style="background-image:url('" + cateInfo.picURL + "');")
		.projects-banner-text
			.musk
				p.text-center.projectsTitle #{cateInfo.name}
				p.text-center.projectsSubTitle TG工作室旗下项目分类