doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title OH MY FAULT!
		link(rel='stylesheet', type="text/css", href="/css/main.css")
	body
		.errorBox(style="\t\tmargin-top: 200px;\n" +
		"\t\tdisplay: flex;\n" +
		"\t\tjustify-content: center;\n" +
		"\t\talign-items: center;")
			i.fa.fa-briefcase(style="font-size:100px;display=block")
		p.text-center 我们的数据服务器发生了灾难性的错误，已通知工程师，并会尽快进行处理

	script(src='/js/lib/jquery-3.1.1.min.js')
	script(src='/js/lib/bootstrap.min.js')




