@import "home";

.department{
  &-banner{
    background: url("/images/department.png");
    @include wh(100%,300px);
    @include allMidBox();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
    &-text {
      @include fontSizeColor(20px,#fff);
      width: 100%;
      position: relative;
    }
    .musk {
      @include allMidBox();
      @include wh(100%, 300px);
      background: rgba(12,12,12,.4);
    }
    .departTitle {
      font-weight: 300;
      @include fontSizeColor(43px, #fff);

    }
    .departSubTitle {
      margin-top: -10px;
      font-weight: 600;
      @include fontSizeColor(28px, #ffffff)
    }
  }
  &-section{
    padding: 40px 0px 40px 0px;
    &-header{
      margin-bottom: 40px;
      &-icon{
        @include allMidBox();
        i{
          @include fontSizeColor(80px,$fontClr_1st);
        }
        .intro{
          margin-top: 20px;
          @include fontSizeColor(22px,$fontClr_1st);
          font-weight: 200;
        }
      }

      h1{
        @include fontSizeColor(40px,$fontClr_1st);
        font-weight: 200;
        margin: 0 0 20px 0;

      }
      small{
        @include fontSizeColor(16px,darken($fontClr_2nd,10%));
        font-weight: 300;
      }
      .more{
        @include fontSizeColor(100px,$fontClr_1st);
        &-text{
          margin-top: -30px;
          @include fontSizeColor(20px,$fontClr_2nd);
          font-weight: 200;
        }
      }
    }
  }
}