@import "utils";
.home{
  &-banner{
    @include wh(100%,600px);
    @include allMidBox();
    background: url("/images/bg13.png");
    background-repeat: no-repeat;
    background-size: cover;
    //background-position-y:-200px;
    &-text{
      width: 100%;
      position: relative;
      .fa-cubes{
        margin-top: -100px;
        display: block;
        @include fontSizeColor(160px,#fff)
      }
      .iconBox{
        @include allMidBox();
      }
    }
    .musk{
      @include wh(100%,100%);
      background: rgba(12,12,12,.4);
    }
    .homeTitle{
      @include fontSizeColor(43px,#fff)
    }
    .homeSubTitle{
      margin-top: -16px;
      @include fontSizeColor(28px, #ffffff)
    }


  }
  &-nav{
    width: 100%;
    &-item{
      @include allMidBox();
      height: 40px;
      border: solid $border;
      border-width: 0 1px 1px 0;
      cursor:pointer;
      a:hover{
        color: #555c62;
        text-decoration: none;
      }
      a{
        @include allMidBox();
        @include wh(100%,100%);
        @include fontSizeColor(14px, #768088);
      }
    }
  }
  &-proj{
    /*warning*/
    //@include allMidBox();
    margin-top: 40px;
    h1{
      display: block;
      width: 200px;
      @include fontSizeColor(22px,#2e2e2e);
      font-weight: 400;
      border: solid $border;
      border-width: 0 0 1px 0;
      padding-bottom: 14px;
    }
  }
}



/**/
/**/
/*below pad screen width*/
@media screen and (max-width: 694px ){

  .home{
    &-banner{
      height: 400px;
      &-text{
        width: 200px;
        position: relative;
        .fa-cubes{
          margin-top: 0;
          display: block;
          @include fontSizeColor(90px,$orange)
        }
      }
      .homeTitle{
        display: block;
        @include fontSizeColor(24px,#fff)
      }
      .homeSubTitle{
        margin-top: 20px;
        @include fontSizeColor(18px, #ffffff)
      }
    }
    &-nav{
      &-item{
        a{
          @include fontSizeColor(12px, #768088);
        }
      }
    }
  }

}

